* {
  box-sizing: border-box;
}

.login-body {
    background: #0c0c0e;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}



.login-center {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
}



.brand-title {
    font-size: 3rem;
    font-weight: 800;
    color: #fefce8;
    text-shadow: 0 0 18px rgba(250, 204, 21, 0.55);
    margin-bottom: 0.5rem;
}


.brand-quote {
    font-style: italic;
    font-size: 1rem;
    color: #facc15;
    opacity: 0.9;
}


.login-box {
    background: rgba(20, 20, 25, 0.85);
    padding: 2.8rem 2.2rem;
    border-radius: 26px;
    width: 420px;
    margin: 0 auto;

    border: 1px solid rgba(250, 204, 21, 0.25);
    box-shadow: 
        0 0 20px rgba(250, 204, 21, 0.12),
        0 0 60px rgba(250, 204, 21, 0.05);
}

.login-box h2 {
    font-size: 2rem;
    font-weight: 700;
    color: #fff;
}

.login-form .form-group {
    text-align: left;
    margin-bottom: 1rem;
    
}

.login-form label {
    color: rgb(211, 211, 211);
    font-size: 0.9rem;
}

.login-form input {
  width: 100%;
  box-sizing: border-box;  
  margin-top: 5px;
  padding: 0.9rem;
  border: 1px solid rgba(255, 255, 255, 0.15);
  background: #0f0f11;
  color: white;
  border-radius: 12px;
}

.login-btn {
    width: 100%;
    padding: 1.1rem;
    border-radius: 50px;
    border: none;
    cursor: pointer;

    background: linear-gradient(135deg, #fbbf24, #facc15);
    color: black;
    font-size: 1.2rem;
    font-weight: 700;
    letter-spacing: 0.5px;

    box-shadow:
        0 8px 25px rgba(251, 191, 36, 0.45),
        0 0 40px rgba(251, 191, 36, 0.25);

    transition: 0.25s ease-in-out;
}

.login-btn:hover {
    transform: translateY(-4px);
    box-shadow:
        0 14px 35px rgba(251, 191, 36, 0.55),
        0 0 60px rgba(251, 191, 36, 0.40);
}


.forgot a, .register-text a {
    color: #facc15;
    text-decoration: none;
}
